<p-panel header="Basic pipes" class="p-1">
  <p>
    Included pipes in Angular - Ussually from the common module
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{ nameLowerCase | uppercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{ nameToUpperCase | lowercase }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ol>
        <li>
          Date
        </li>
        <li>
          Date | date
        </li>
        <li>
          Date | date:'short'
        </li>
        <li>
          Date | date:'long'
        </li>
        <li>
          Date | date:'MMMM'
        </li>
        <li>
          Date | date:'MMMM dd, yyyy'
        </li>
      </ol>
      <hr>
      <ol>
        <li>Fecha | date:'long': GMT-6 </li>
        <li>Fecha | date:'long': GMT-4 </li>
        <li>Fecha | date:'long':'UTC-5':'es-CO'</li>
        <li>Fecha | date:'long':'GMT-5':'fr-CA' </li>
        <li>Fecha | date:'long':'GMT-5':'en-US' </li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="titlecase">
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date:'short' }}</li>
        <li>{{ customDate | date:'long' }}</li>
        <li>{{ customDate | date:'MMMM' }}</li>
        <li>{{ customDate | date:'MMMM dd, yyyy' }}</li>
      </ol>
      <hr>
      <ol>
        <li>{{ customDate | date:'long':'GMT-6' }}</li>
        <li>{{ customDate | date:'long':'GMT-4' }}</li>
        <li>{{ customDate | date:'long':'UTC-5':'es-CO'}} </li>
        <li>{{ customDate | date:'long':'GMT-5':'fr-CA'}} </li>
        <li>{{ customDate | date:'long':'GMT-5':'en-US'}} </li>

      </ol>
    </p-card>
  </div>
</div>
